body,
html{
	width: 100%;
	height: 100%;
	font-family: 'Montserrat',sans-serif;
	background: url(cars.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 

}

h1
{
	font-size: 3rem;
	color: blue;

}

hr
{
	border-color: #f05f44;
	border-width: 3px;
	max-width: 65px;
}
.btn
{
	font-weight: 700;
	border-radius: 500px;
	text-transform: uppercase;
}
.btn-primary
{
	background-color: #F05F44;
	border-color:#F05F44 ;
}

.btn-primary:hover
{
	background-color:brown;
	border-color:brown;
	border-width: 3px;
}
.btn-xl
{
	padding:  1rem 2rem;
}
.fixed-bottom
{
	text-align: right;
	
	text-shadow: 2px 2px red;
	font-weight: bold;
	background-color: lightgray;
	color: blue;
	font-size: 1.5em;
}